

	<h1>Enter your movie name</h1>

     <form action="/film" method="POST">
     	<label for="title">Title</label>
        <input type="text" name="title"/>
        <input type="submit"/>

       </form>



    <!-- #here you go back to the movie_server.rb and you go to the /submit part you go into the database and search for the movie -->

