<html>
<head>
   <link rel="stylesheet" href="css/main.css">

   <title>Movie Grabber App</title>

</head>
   
<body>

    <h1 style = "color: purple; size: 300px; margin-left: 100px">Movie Database Search</h1>

    <div id="menu" style="float:left;width:170px; border-radius: 20px; height: 400px">

	
     </div>
    <div id="content">

    <%=yield%>
    </div>
</body>
</html>