<h1>Login</h1>

<%=flash[:notice]%>

<p>Please enter the password to continue</p>

<form action="/login"  method="POST">
	<label for="password">
		Password:
	</label>

	<input type="password" name="password"/>
	<!-- #input type = password input type when you are putting in something sensititve to a text box that needs to be hidden! -->

	<input type="submit" />
</form>

